  <%= render '/refinery/admin/pages/tabs/resources_bar', :f => f %>
  <%= render '/refinery/admin/pages/tabs/resources_field', :f => f %>
</div>

<% content_for :stylesheets, stylesheet_link_tag('refinery/page-resource-picker') %>
<% content_for :javascripts, javascript_include_tag('refinery/page-resource-picker') %>