#page_resources {
  margin: 0;
  padding: 0;
  width: 280px;
  width: 100%;
  li {
    position: relative;
    list-style: none;
    margin: 10px 20px 20px 0;
    * {
      cursor: move;
    }
    &.odd {
      margin-right: 18px;
    }
    .title {
      display: inline-block;
      vertical-align: middle;
    }
    .resource_actions {
      background: white;
      display: inline-block;
      vertical-align: middle;
      height: 16px;
      * {
        cursor: pointer;
      }
      &.no_captions {
        background: transparent;
      }
    }
  }
}

#content {
  ul.ui-sortable li {
    border: 0;
    background: none !important;
  }
  #page_resources.ui-sortable li.placeholder {
    width: 135px;
    height: 135px;
  }
}

a#add_resource_link {
  margin-top: 0;
  line-height: 29px;
  padding-left: 20px;
  display: inline;
  border-bottom: 0;
  background: image-url('refinery/icons/add.png') no-repeat 0px 6px;
}

.page-resources-caption-modal.plain {
  textarea {
    width: 400px;
  }
}